.main {
	&__priz {
		position: relative;
		.main-banner {
			z-index: 1;
			position: relative;
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			padding-bottom: 125%;
			height: 100vh;
			@include xxs-block() {
				margin-top: toVw(130);
				&:after {
					content: "";
					position: absolute;
					top: toVw(-130);
					left: 0;
					height: toVw(130);
					width: 100%;
					background-color: rgba(0, 194, 255, 1);
				}
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 10%;
					background: rgb(0, 194, 255);
					background: linear-gradient(0deg, rgba(0, 194, 255, 0) 0%, rgba(0, 194, 255, 1) 100%);
				}
			}
			&__logo {
				z-index: 4;
				position: absolute;
				width: 15%;
				right: 6%;
				top: 1%;
				transition: 0.3s;
				@include xxs-block() {
					width: 40%;
					left: 50%;
					top: toVw(-120);
					transform: translateX(-50%);
				}
				&[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
					transform: translateZ(0) scale(1) translateX(-50%);
					@include md-block() {
						transform: translateZ(0) scale(1);
					}
				}
				img {
					width: 100%;
				}
				&:hover {
					transform: scale(1.05);
				}
			}
			&__date {
				position: absolute;
				width: toVw(210);
				top: 3%;
				left: 6%;
				font-weight: 900;
				font-size: 36px;
				text-align: center;
				text-transform: uppercase;
				color: #ffffff;
				@include md-block() {
					width: 100%;
					left: 0;
					top: 2%;
				}
				@include xxs-block() {
					font-size: toVw(24);
					top: 0;
				}
			}
		}
		&-list {
			font-family: "Roboto";
			font-weight: 900;
			position: absolute;
			top: toVw(700);
			right: 0;
			width: 100%;
			max-width: toVw(360);
			flex-wrap: wrap;
			@include xmd-block() {
				top: 40%;
				transform: translateY(-50%);
				max-width: toVw(260);
			}
			@include xxs-block() {
				left: 50%;
				top: 60%;
				transform: translateX(-50%);
			}
			&__item {
				background-color: #00c2ff;
				color: #ffffff;
				width: 100%;
				padding: 0 toVw(36);
				border-radius: toVw(27) 0 0 toVw(27);
				margin-bottom: toVw(8);
				box-shadow: 0px 0px 15px #ffffff;
				transition: $transition linear;
				@include xmd-block() {
					padding: 0 toVw(25);
				}
				@include xxs-block() {
					border-radius: toVw(27);
					box-shadow: none;
					margin-bottom: toVw(5);
				}
				&:hover {
					transition: $transition linear;
					box-shadow: 0px 0px 5px #ffffff;
				}
				&:last-child {
					margin-bottom: 0;
				}
				ul {
					display: flex;
					justify-content: space-between;
					pointer-events: none;

					li {
						width: 33.33%;
						font-size: toVw(36);
						margin: auto;
						text-align: center;
						@include xmd-block() {
							font-size: toVw(20);
						}
						@include xxs-block() {
							width: 10%;
							display: flex;
						}
						&:first-child {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							@include xxs-block() {
								width: 80%;
								flex-direction: row;
								text-transform: uppercase;
								font-size: toVw(20);
							}
							span {
								font-size: toVw(20);
							}
							.big {
								font-size: toVw(48);
								@include xmd-block() {
									font-size: toVw(20);
								}
							}
						}

						&:last-child {
							font-size: toVw(85);
							@include xmd-block() {
								font-size: toVw(36);
							}
							@include xxs-block() {
								font-weight: 500;
								font-size: toVw(27);
							}
						}
					}
				}
			}
		}
		.main-rules {
			position: relative;
			margin-top: -50%;
			padding-bottom: 25%;
			z-index: 1;
			@include xxs-block() {
				margin-top: -30%;
			}
			&__bg {
				z-index: 1;
				position: absolute;
				padding: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: top;
				background-size: cover;
				opacity: 0.5;
			}
			&__title {
				margin-bottom: toVw(60);
				@include xxs-block() {
					padding-top: toVw(40);
					margin-bottom: toVw(10);
				}
			}

			&__rule {
				position: relative;
				z-index: 4;
				text-align: center;
				@include xxs-block() {
					z-index: 3;
				}
				&-img {
					width: 100%;
					max-width: toVw(1050);
					margin: auto;
					margin-bottom: toVw(70);
					z-index: 4;
					@include xxs-block() {
						margin-bottom: 0;
					}
					img {
						@include xxs-block() {
							&:first-child {
								display: none;
								
							}
						}
					}
				}

				&-info {
					display: flex;
					justify-content: space-between;
					padding: 0 toVw(80) toVw(80);
					flex-wrap: wrap;
					@include xxs-block() {
						padding: 0 0 toVw(80);
						justify-content: center;
						width: 100%;
					}
					&__col {
						width: calc(33.33% - 55px);
						padding: 0 toVw(80);
						@include xmd-block() {
							padding: 0 toVw(15);
							width: 50%;
							&:last-child {
								margin: toVw(20) auto 0;
							}
						}
						@include xxs-block() {
							width: calc(100% - 30px);
							&:last-child {
								width: calc(100% - 30px);
							}
							.img {
								margin: auto;
								position: relative;
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
								width: 45%;
								padding-bottom: 30%;
							}
						}
					}
					&__title {
						font-family: "Roboto";
						font-weight: 900;
						font-size: toVw(24);
						text-transform: uppercase;
						margin-bottom: toVw(45);
						@include md-block() {
							margin-bottom: toVw(20);
						}
						@include xxs-block() {
							font-size: toVw(18);
						}
					}

					p {
						@include xxs-block() {
							font-size: toVw(14);
						}
						&:first-child {
							margin-bottom: toVw(30);
							@include md-block() {
								margin-bottom: toVw(10);
							}
						}
						a {
							margin-top: 0;
							font-weight: 700;
							text-decoration: none;
							display: inline-block;
							&:after {
								display: none;
							}
							&:hover {
								transition: 0.3s linear;
								opacity: 0.8;
							}
							@include xxs-block() {
								font-size: toVw(14);
							}
						}
					}
					a {
						color: #ffffff;
						text-decoration: none;
						font-weight: 500;
						margin-top: toVw(30);
						@include md-block() {
							margin-top: toVw(10);
						}
						@include xxs-block() {
							display: none;
						}
						&:after {
							transition: 0.3s linear;
							content: "";
							width: 100%;
							height: toVw(1);
							display: block;
							background-color: #fff;
						}
						&:hover {
							&:after {
								transition: 0.3s linear;
								opacity: 0;
								transform: translateY(10px);
							}
						}
					}
					&__list {
						&-item {
							display: flex;
							justify-content: space-between;
							margin-bottom: toVw(15);
							width: 100%;
							@include xxs-block() {
								display: flex;
								flex-direction: column;
								align-items: center;
							}
							&:last-child {
								margin-bottom: 0;
							}
							.img {
								position: relative;
								background-repeat: no-repeat;
								background-position: center;
								background-size: cover;
								width: 45%;
								padding-bottom: 23%;
							}
							.scale {
								transform: scale(2);
							}
						}
						&-text {
							text-align: center;
							width: 55%;
							@include xxs-block() {
								width: 100%;
							}
							p {
								margin-bottom: toVw(1) !important;
							}
						}
					}
				}
			}
			&__subtitle {
				font-family: "Roboto";
				font-weight: 900;
				font-size: toVw(24);
				text-transform: uppercase;
				text-shadow: 0px 0px 15px #ffffff;
				text-align: center;
				margin-bottom: toVw(50);
				z-index: 2;
				position: relative;
				@include xxs-block() {
					font-size: toVw(18);
				}
			}
			&__btn {
				padding: toVw(18) 0;
				width: 100%;
				max-width: toVw(280);
				font-weight: 500;
				font-size: toVw(18);
				text-decoration: none;
				text-align: center;
				margin: 0 auto;
				display: block;
				z-index: 2;
				position: relative;
				@include xxs-block() {
					padding: toVw(12) 0;
					max-width: toVw(220);
					font-size: toVw(14);
				}
			}
			.fish1 {
				left: 14%;
				top: 55%;
				.icon {
					width: toVw(120);
				}
			}
			.fish2 {
				right: 13%;
				bottom: 30%;
				.icon {
					width: toVw(50);
				}
			}
			.fish3 {
				right: 5%;
				bottom: 35%;
				.icon {
					width: toVw(70);
				}
			}
			.fish4 {
				left: 34%;
				top: 50%;
				transform: translate(-50%, -50%);
				.icon {
					width: toVw(50);
				}
			}
		}

		.main-products {
			margin-top: -15%;
			&__title {
				margin-bottom: toVw(90);
				@include xxs-block() {
					margin-bottom: toVw(40);
				}
			}
			&__bg {
				z-index: 2;
				position: relative;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				padding-bottom: 47%;
				&-link {
					position: absolute;
					bottom: 15%;
					left: 6.6%;
					color: $blue;
					font-weight: 500;
					font-size: toVw(18);
					text-decoration: none;
					@include xxs-block() {
						font-size: toVw(12);
					}
					&:after {
						transition: 0.3s linear;
						content: "";
						width: 100%;
						height: toVw(1);
						display: block;
						background-color: $blue;
					}
					&:hover {
						&:after {
							transition: 0.3s linear;
							opacity: 0;
							transform: translateY(10px);
						}
					}
				}
			}
		}

		.main-play {
			position: relative;
			z-index: 1;
			width: 100%;
			padding-bottom: 70%;
			margin-top: -6%;
			@include xmd-block() {
				padding-bottom: 90%;
			}
			@include xxs-block() {
				margin-top: -6%;
				padding-bottom: 70%;
				margin-bottom: 150%;
			}

			&__bg {
				padding-top: toVw(240);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-repeat: no-repeat;
				background-position: top;
				background-size: cover;
				@include xmd-block() {
					padding-top: toVw(200);
				}
				@include xxs-block() {
					padding-top: toVw(80);
				}
			}
			// .main__priz-list {
			// 	min-width: 100%;
			// 	position: static;
			// 	margin-bottom: toVw(30);
			// 	left: 0;
			// 	display: flex;
			// 	justify-content: space-between;
			// 	padding: 0 toVw(110);
			// 	@include sm-block() {
			// 		justify-content: center;
			// 		padding: 0 toVw(200);
			// 	}
			// 	&__img {
			// 		display: none;
			// 		@include sm-block() {
			// 			display: block;
			// 			width: 100%;
			// 			position: relative;
			// 			background-repeat: no-repeat;
			// 			background-position: center;
			// 			background-size: cover;
			// 			padding-bottom: 50%;
			// 		}
			// 	}
			// 	&__item-cnt {
			// 		width: calc(26% - 112px);
			// 		@include md-block() {
			// 			width: calc(30% - 10px);
			// 		}
			// 		@include md-block() {
			// 			width: calc(50% - 10px);
			// 		}
			// 		@include xmd-block() {
			// 			width: calc(100% - 30px);
			// 			margin-bottom: toVw(20);
			// 		}
			// 		&:nth-child(2) {
			// 			width: calc(40% - 112px);
			// 			@include md-block() {
			// 				width: calc(50% - 10px);
			// 			}
			// 			@include md-block() {
			// 				padding: toVw(12) toVw(20);
			// 				order: 1;
			// 				margin: toVw(20) auto 0;
			// 			}
			// 			@include xmd-block() {
			// 				width: calc(100% - 30px);
			// 				margin: 0;
			// 			}
			// 			.main__priz-list__item-col {
			// 				display: flex;
			// 				justify-content: space-between;
			// 				width: calc(50% - 90px);
			// 			}
			// 			&__item {

			// 			}
			// 		}
			// 	}
			// 	&__item {
			// 		border-radius: toVw(27);
			// 		margin-bottom: 0;
			// 		padding: toVw(12) toVw(23);
			// 		display: flex;
			// 		justify-content: space-between;
			// 		.big {
			// 			font-size: toVw(36) !important;
			// 			@include xmd-block() {
			// 				font-size: toVw(30) !important;
			// 			}
			// 		}
			// 		&-col {
			// 			width: 50%;
			// 			font-weight: 900;
			// 			margin: auto;
			// 			text-align: center;
			// 			div {
			// 				&:first-child {
			// 					font-size: toVw(24);
			// 				}
			// 			}
			// 		}

			// 		&:nth-child(2) {
			// 			padding: toVw(12) toVw(60);
			// 			.main__priz-list__item-col {
			// 				display: flex;
			// 				justify-content: space-between;
			// 				width: calc(50% - 90px);
			// 			}
			// 		}
			// 	}
			// }
			&__title {
				margin-bottom: toVw(20);
				@include xxs-block() {
					margin-bottom: toVw(2);
				}
			}
			.img {
				position: relative;
				width: 100%;
				padding-bottom: 36%;
				margin-bottom: toVw(30);
				@include xxs-block() {
					padding-bottom: 170%;
				}
				img {
					position: absolute;
					object-fit: cover;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@include xxs-block() {
						&:first-child {
							display: none;
						}
					}
					&:last-child {
						display: none;
						@include xxs-block() {
							display: block;
							object-fit: contain;
						}
					}
				}
			}
			&__link {
				color: #fff;
				cursor: pointer;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				text-decoration: none;
				a {
					text-decoration: none;
					color: inherit;
				}
				&:after {
					transition: $transition linear;
					content: "";
					width: 100%;
					height: toVw(1);
					display: block;
					background-color: #fff;
				}
				&:hover {
					&:after {
						transition: $transition linear;
						opacity: 0;
						transform: translateY(10px);
					}
				}
				@include xxs-block() {
					display: none;
				}
			}
			.fishes1 {
				right: 5%;
				top: 15%;
			}
			.fishes2 {
				left: 50%;
				top: 12%;
				transform: translateX(-50%);
				.icon {
					width: toVw(160);
				}
			}
			.fishes3 {
				left: 10%;
				top: 15%;
				.icon {
					width: toVw(130);
				}
			}
			.fishes4 {
				left: 30%;
				bottom: 10%;
				.icon {
					opacity: 0.5;
					width: toVw(160);
				}
			}
			.fish1 {
				right: 10%;
				bottom: 12%;
				.icon {
					opacity: 0.5;
					width: toVw(70);
				}
			}
			.fish2 {
				right: 20%;
				bottom: 14%;
				.icon {
					transform: scale(-1, 1);
					opacity: 0.5;
					width: toVw(40);
				}
			}
			.fish3 {
				left: 10%;
				bottom: 8%;
				.icon {
					transform: scale(-1, 1);
					opacity: 0.5;
					width: toVw(70);
				}
			}
		}
		.main-wins {
			position: relative;
			z-index: 1;
			width: 100%;
			padding-bottom: 60%;
			margin-top: -6%;
			@include xmd-block() {
				padding-bottom: 80%;
			}
			@include sm-block() {
				margin-top: 0;
				z-index: 3;
			}
			@include xxs-block() {
				padding-bottom: 200%;
			}
			&__bg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-repeat: no-repeat;
				background-position: top;
				background-size: cover;
			}
			&__title {
				margin-bottom: toVw(60);
				@include xxs-block() {
					margin-bottom: toVw(30);
				}
			}
			&__btns {
				justify-content: space-between;
				display: flex;
				padding: 0 toVw(108);
				flex-wrap: wrap;
				@include xxs-block() {
					padding: 0 toVw(70);
				}
			}
			&__btn {
				text-transform: uppercase;
				width: calc(25% - 9px);
				height: toVw(95);
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				margin: auto;
				margin-bottom: toVw(60);
				a {
					margin: 0;
					color: inherit;
					text-decoration: none;
				}

				@include xmd-block() {
					width: calc(50% - 9px);
					margin-bottom: toVw(30);
				}
				@include sm-block() {
					height: toVw(65);
				}
				@include xxs-block() {
					width: 100%;
					margin-bottom: toVw(18);
				}
				&:hover {
					box-shadow: (0px 0px 15px #ffffff);
				}
			}
			&__result {
				text-transform: uppercase;
				margin: auto;
				font-family: "Roboto";
				font-weight: 400;
				text-align: center;
				max-width: toVw(800);
				padding: 0 toVw(80);
				@include xxs-block() {
					font-size: toVw(18);
					padding: 0 toVw(20);
				}
				&-links {
					margin-top: toVw(30);
					position: relative;
					padding-bottom: 24%;
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					@include sm-block() {
						display: none;
					}
					&._mb {
						display: none;
						@include sm-block() {
							display: block;
							padding-bottom: 50%;
						}
					}
				}
				&-link {
					position: absolute;
					text-transform: uppercase;
					color: #fff;
					text-decoration: none;
					@include xxs-block() {
						width: 100%;
					}
					&:after {
						transition: $transition linear;
						content: "";
						width: 100%;
						height: toVw(1);
						display: block;
						background-color: #fff;
						@include sm-block() {
							display: none;
						}
					}
					&:hover {
						&:after {
							transition: $transition linear;
							opacity: 0;
							transform: translateY(10px);
						}
					}
					&._left {
						top: 30%;
						left: 18%;
						@include sm-block() {
							top: 40%;
							left: 50%;
							transform: translateX(-50%);
							text-decoration: underline;
						}
					}
					&._right {
						right: toVw(-130);
						top: 30%;
						@include sm-block() {
							top: 110%;
							left: 50%;
							text-decoration: underline;
							transform: translateX(-50%);
						}
					}
				}
			}
			.fish1 {
				right: 10%;
				top: 45%;
				.icon {
					transform: scale(-1, 1);
					opacity: 0.5;
					width: toVw(90);
				}
			}
			.fish2 {
				left: 20%;
				top: 30%;
				.icon {
					opacity: 0.5;
					width: toVw(50);
				}
			}
			.fish3 {
				left: 10%;
				top: 40%;
				.icon {
					opacity: 0.5;
					width: toVw(70);
				}
			}
		}
		.main-double-section {
			position: relative;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: 2;
			width: 100%;
			margin-top: -30%;
			@include sm-block() {
				margin-top: 10%;
			}
		}
		.main-qa {
			padding: 150px 0 90px;
			@include xxs-block() {
				padding: 120px 0 90px;
				.container {
					padding: 0 toVw(30);
				}
			}
			&__title {
				margin-bottom: toVw(60);
			}
			&__block {
				border-radius: toVw(11);
				padding: toVw(35) 0;
				margin-bottom: toVw(25);
				@include xxs-block() {
					padding: toVw(21) 0;
					margin-bottom: toVw(35);
				}
				&:last-child {
					margin-bottom: 0;
				}
				&-q {
					font-weight: 500;
					font-size: toVw(24);
					text-align: center;
					text-transform: uppercase;
					transition: $transition;
					@include xxs-block() {
						font-size: toVw(14);
					}
				}
				&-a {
					padding: 0 11%;
					display: none;
					padding-top: 2%;
					@include xxs-block() {
						padding: 0 5%;
					}
					p,
					a {
						color: $blue;
						font-size: toVw(18);
						text-align: center;
						@include xxs-block() {
							font-size: toVw(14);
						}
					}
					& > p {
						&:first-of-type {
							margin-top: 0;
						}
					}
					li {
						color: $blue;
						text-align: left;
						@include xxs-block() {
							font-size: toVw(14);
						}
					}
				}
				&.active.main-qa__block {
					background-color: #fff;
				}
				&.active,
				&:hover {
					.main-qa__block-q {
						color: $blue;
					}
				}
			}
		}
		.main-footer {
			position: relative;
			z-index: 1;
			width: 100%;
			padding-bottom: 10%;
			margin-top: -25%;
			&__bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: bottom;
				background-size: cover;
			}
			.container {
				position: relative;
				bottom: 0;
				z-index: 999999999;
				padding-top: 30%;
				padding-left: toVw(130);
				max-width: toVw(720);
				line-height: 103%;
				font-size: toVw(18);
				margin: 0;
				@include xxs-block() {
					padding: 30% toVw(26) 0;
					text-align: center;
				}
			}
			&__text {
				&-lg {
					margin-bottom: toVw(30);
					max-width: toVw(400);
					@include xxs-block() {
						font-size: toVw(11);
						margin-bottom: toVw(15);
					}
					a {
						font-weight: 700;
						color: inherit;
						text-decoration: none;
						cursor: pointer;
						font-size: inherit;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				&-sm {
					font-size: toVw(11);
					letter-spacing: 0.1em;
					text-shadow: 0px 0px 3px #041942;
					@include xxs-block() {
						font-size: toVw(7);
					}
				}
			}
		}
	}
}
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
.mfp-iframe-scaler iframe {
	display: block !important;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
