extends ../layout/main

block variables
	- var title = 'Рекламная игра'

block content
	main
		section
			.main__priz
				.main-banner.lazy(data-bg="url(img/content/main-banner-background.png)")
					a(href="https://vitalur.by/" target="_blank").main-banner__logo
						img(data-src="img/content/logo.png" alt="").lazy
					span.main-banner__date С 02.06.2021 по 28.07.2021
					ul.main__priz-list
						li.main__priz-list__item 
							ul 
								li
									span.big 1000
									span рублей
								li X
								li 16
						li.main__priz-list__item 
							ul 
								li KIA RIO
								li X
								li 4
						li.main__priz-list__item 
							ul 
								li KIA RIO X
								li X
								li 4
		section
			.main__priz
				.main-rules
					.main-rules__bg.lazy(data-bg="url(img/content/sea.png)")
					.main-rules__title.title(data-aos="fade") Правила игры
					.main-rules__rule(data-aos="fade-left")
						.main-rules__rule-img
							img(data-src="img/content/main-rules-icon.png" alt="").lazy
					.main-rules__rule(data-aos="fade-right")
						.main-rules__rule-info
							.main-rules__rule-info__col 
								.img.lazy.scale(data-bg="url(img/content/rule-icon1.png)")
								.main-rules__rule-info__title КУПИте ИГРОВОЙ товар
								.main-rules__rule-info__item
									p Купи любой игровой товар<br> с использованием карты Виталюр или<br> Моцная картка.
									p 
										span 2 рубля игрового товара = 1 игровой код
									p
										span 4 рубля игрового товара = 2 игровых кода
							.main-rules__rule-info__col 
								.img.lazy.scale(data-bg="url(img/content/rule-icon2.png)")
								.main-rules__rule-info__title ПОДТВЕРДИте УЧАСТИЕ
								p Подтвердите участие в рекламной игре в личном кабинете <a href="#">my.vitalur.by,</a><br> и каждые <span> 2 рубля</span> игрового продукта в чеке будут автоматически<br> конвертированы в код для розыгрыша.
								a(href="#") Как подтвердить участие в рекламной игре?
							.main-rules__rule-info__col 
								.img.lazy.scale(data-bg="url(img/content/rule-icon3.png)")
								.main-rules__rule-info__title ВЫИГРЫВАЙте ПРИЗЫ
								ul.main-rules__rule-info__list 
									li.main-rules__rule-info__list-item 
										.img.lazy.scale(data-bg="url(img/content/card1.png)")
										.main-rules__rule-info__list-text
											p <span>Главный приз</span>
											p 100 000 белорусских рублей
									li.main-rules__rule-info__list-item 
										.img.lazy(data-bg="url(img/content/car.png)")
										.main-rules__rule-info__list-text
											p 4 автомобиля KIA RIO
											p 4 автомобиля KIA RIO X
									li.main-rules__rule-info__list-item 
										.img.lazy(data-bg="url(img/content/rub.png)")
										.main-rules__rule-info__list-text
											p <span>16 денежных призов</span>
											p по 1 000 белорусских рублей
					.main-rules__subtitle Продолжайте делать покупки и выигрывайте больше призов!
					a(href="#").main-rules__btn.dots Подробнее о правилах
					.fish1
						+icon('fish1')
					.fish2
						+icon('fish2')
					.fish3
						+icon('fish2')
					.fish4
						+icon('fish3')
		section
			.main__priz
				.main-products
					.main-products__title.title(data-aos="fade-down") Продукты,<br> участвующие в игре
					.main-products__bg.lazy(data-bg="url(img/content/products-bd.png)")
						a(href="#").main-products__bg-link Полный перечень игровых товаров
		section
			.main__priz
				.main-play
					.main-play__bg.lazy(data-bg="url(img/content/main-play__bg.png)")
						.main-play__title.title(data-aos="fade-left") ПРИЗЫ РЕКЛАМНОЙ ИГРЫ
						.img
							img(data-src="img/content/main-play__prize.png" alt="").lazy
							img(data-src="img/content/mb-main-play__prize.png" alt="").lazy
						//- ul.main__priz-list
							li.main__priz-list__item-cnt 
								.main__priz-list__img.lazy(data-bg="url(img/content/mb-CARD.png)") 
								.main__priz-list__item
									div.main__priz-list__item-col 
										div 100 000
										div рублей
									div.main__priz-list__item-col 
										div.big x 1
							li.main__priz-list__item-cnt 
								.main__priz-list__img.lazy(data-bg="url(img/content/mb-car.png)") 
								.main__priz-list__item
									div.main__priz-list__item-col  
										div KIA<br>RIO
										div.big x 4
									div.main__priz-list__item-col
										div KIA<br>RIO X
										div.big x 4
							li.main__priz-list__item-cnt 
								.main__priz-list__img.lazy(data-bg="url(img/content/mb-rub.png)") 
								.main__priz-list__item
									div.main__priz-list__item-col  
										div 1000
										div рублей
									div.main__priz-list__item-col 
										div.big x 16
						.main-play__link.js-popup-gallery
							a(href="img/content/kia-rio-1.jpg") Подробнее о комплектации автомобилей
							a(href="img/content/kia-rio-2.jpg")
							a(href="img/content/kia-rio-3.jpg")
							a(href="img/content/kia-rio-4.jpg")
							a(href="img/content/kia-rio-5.jpg")
					.fishes1 
						+icon('fishes1')
					.fishes2 
						+icon('fishes2')
					.fishes3
						+icon('fishes3')
					.fishes4
						+icon('fishes4')
					.fish1
						+icon('fish1')
					.fish2
						+icon('fish2')
					.fish3
						+icon('fish3')
		section
			.main__priz
				.main-wins
					.main-wins__bg.lazy(data-bg="url(img/content/sea.png)")
						.main-wins__title.title(data-aos="fade-left") РОЗЫГРЫШи и ПОБЕДИТЕЛи
						.main-wins__btns
							a(href="winners-1.html").js-popup-ajax.main-wins__btn.dots ГЛАВНЫЙ ПРИЗ
							a(href="winners-2.html").js-popup-ajax.main-wins__btn.dots KIO RIO X
							a(href="winners-3.html").js-popup-ajax.main-wins__btn.dots KIO RIO
							a(href="winners-4.html").js-popup-ajax.main-wins__btn.dots ДЕНЕЖНЫЙ ПРИЗ<br> 1000 РУБЛЕЙ
							.js-popup-gallery.main-wins__btn.dots 
								a(href="img/content/calendar1.jpg") КАЛЕНДАРЬ РОЗЫГРЫШЕЙ
								a(href="img/content/calendar2.jpg")
						.main-wins__result ИТОГИ прошедшей рекламной игры «Призы от Виталюр каждый день!» 
							.main-wins__result-links.lazy(data-bg="url(img/content/wins-icon.png)")
								a(href="https://www.youtube.com/watch?v=sUdTQLP6JQI").popup-youtube.main-wins__result-link._left СМОТРИТЕ, КАК ЭТО БЫЛО
								a(href="#").main-wins__result-link._right РЕЗУЛЬТАТЫ
							.main-wins__result-links._mb.lazy(data-bg="url(img/content/mb-wins-icon.png)")
								a(href="https://www.youtube.com/watch?v=sUdTQLP6JQI").popup-youtube.main-wins__result-link._left СМОТРИТЕ, КАК ЭТО БЫЛО
								a(href="#").main-wins__result-link._right РЕЗУЛЬТАТЫ
						.fish1
							+icon('fish1')
						.fish2
							+icon('fish2')
						.fish3
							+icon('fish3')
		section
			.main__priz
				.main-double-section.lazy(data-bg="url(img/content/sea.png)")
					.main-qa
						.container
							.main-qa__title.title Вопросы и ответы
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q Когда проходит рекламная игра?
								.main-qa__block-a.js-ac-dd
									p Рекламная игра проходит с 2 июня 2021 года по 28 июля 2021 года. 
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q КАК Я МОГУ СОВЕРШИТЬ ПОКУПКУ, ЧТОБЫ ПРИНЯТЬ УЧАСТИЕ В РЕКЛАМНОЙ ИГРЕ?
								.main-qa__block-a.js-ac-dd
									p Для участия необходимо совершить покупку игровых товаров на сумму не менее 2 белорусских рублей (обязательно применяйте при расчете на кассе карты виталюр или моцная картка), а также подтвердить участие в личном кабинете 
										<a href="https://vitalur.by/" taget="_blanck">MY.VITALUR.BY</a> В ПЕРИОД С 2 ИЮНЯ 2021 ГОДА 00:00:00 ПО 28 ИЮЛЯ 2021 ГОДА 23:59:59 ВКЛЮЧИТЕЛЬНО.
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q КОГДА И ГДЕ ПРОХОДЯТ РОЗЫГРЫШИ?
								.main-qa__block-a.js-ac-dd
									ul
										li Розыгрыш денежных призов на 1000 рублей и автомобиля kia проходит каждую неделю
											p В розыгрыше денежных призов на 1000 рублей (х 2 шт.) и розыгрыше автомобиля kia rio (х 1 шт.) участвуют все игровые коды, которые были присвоены при подтверждении участия в личном кабинете в период:
											p С 02.06.2021 по 09.06.2021– участвует в розыгрыше 10 июня 2021 года
											p С 10.06.2021 по 16.06.2021– участвует в розыгрыше 17 июня 2021 года
											p С 17.06.2021 по 23.06.2021– участвует в розыгрыше 24 июня 2021 года
											p С 24.06.2021 по 30.06.2021 – участвует в розыгрыше 1 июля 2021 года
											p С 01.07.2021 по 07.07.2021– участвует в розыгрыше 8 июля 2021 года
											p С 08.07.2021 по 14.07.2021– участвует в розыгрыше 15 июля 2021 года
											p С 15.07.2021 по 21.07.2021– участвует в розыгрыше 22 июля 2021 года
											p С 22.07.2021 по 28.07.2021– участвует в розыгрыше 29 июля 2021 года
										li Главный приз 100 000 белорусский рублей
											p Участвуют все игровые коды, которые были присвоены с 02.06.2021 по 28.07.2021.
											p Все розыгрыши проходят по адресу: магазин виталюр, минский район, 9-ый км московского шоссе.
											p Время розыгрыша - 16.00.
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q КАКОЙ ПРОДУКТ НЕОБХОДИМО КУПИТЬ ДЛЯ УЧАСТИЯ В РЕКЛАМНОЙ ИГРЕ?
								.main-qa__block-a.js-ac-dd
									p Для участия в рекламной игре необходимо купить любой игровой товар с использованием карты виталюр или моцная картка.
									p 
										a(href="https://vitalur.by/upload/iblock/2e9/products_list.pdf" download target="_blank") полный перечень игровых товаров
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q ГДЕ Я МОГУ КУПИТЬ ИГРОВОЙ ПРОДУКТ, ЧТОБЫ УЧАСТВОВАТЬ В РЕКЛАМНОЙ ИГРЕ?
								.main-qa__block-a.js-ac-dd
									p Во всех <a href="https://vitalur.by/shops/" target="_blank">магазинах</a> ОДО «ВИТАЛЮР»
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q ЧТО ДЕЛАТЬ, ЕСЛИ МНЕ НЕ ПРИХОДИТ КОД?
								.main-qa__block-a.js-ac-dd
									p Проверьте, пожалуйста:
										ul
											li Подтверждено ли согласие на участие в рекламной игре;
											li Правильно ли указаны персональные данные в личном кабинете;
											li Есть ли в чеке игровой товар(ы) на сумму от 2 белорусских рублей;
											li Если все пункты соблюдены, но код все равно не пришёл, обращайся в службу заботы о клиентах одо «виталюр» на короткий номер: 7060
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q КАК Я УЗНАЮ, ЧТО Я СТАЛ ПОБЕДИТЕЛЕМ? 
								.main-qa__block-a.js-ac-dd
									p В течение 2 (двух) рабочих дней с даты проведения розыгрыша с победителем свяжутся организаторы рекламной игры. также имена победителей будут опубликованы на сайте в разделе «розыгрыши и победители».
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q КАК УЗНАТЬ, СКОЛЬКО У МЕНЯ КОДОВ?
								.main-qa__block-a.js-ac-dd
									p Cвои игровые коды можно посмотреть в личном кабинете <b>MY.VITALUR.BY</b> в разделе «рекламная игра «лето призов в виталюр!» (панель справа). после открытия новой страницы необходимо пролистать вниз до раздела «мои коды».
							div(data-aos="fade-left").main-qa__block.dots.js-ac
								.main-qa__block-q КАК И ЗАЧЕМ ДАВАТЬ СОГЛАСИЕ НА УЧАСТИЕ? 
								.main-qa__block-a.js-ac-dd
									p Для подтверждения согласия на участие в рекламной игре необходимо зайти в личный кабинет <b>MY.VITALUR.BY</b> и выбрать раздел «рекламная игра «лето призов в виталюр!» (на панели справа). пролистайте вниз до раздела «подтвердите участие в рекламной игре» и поставьте необходимую отметку. после нажмите кнопку «сохранить».
									p Также вы можете подтвердить участие во всех рекламных играх виталюр (текущей рекламной игре и предстоящих рекламных играх). для этого необходимо проставить отметку в разделе «подтвердите участие в рекламной игре» напротив «я подтверждаю корректность данных и согласен участвовать во всех рекламных играх, проводимых в сети виталюр». в дальнейшем подтверждение участия не потребуется, игровые коды во всех рекламных играх будут начисляться автоматически.
									p Подробная инструкция по 
										a(href="https://vitalur.by/upload/iblock/2e9/products_list.pdf" target="_blank") ссылке
		section
			.main__priz
				.main-footer
					.main-footer__bg.lazy(data-bg="url(img/content/footer-bg.png)")
					.container
						.main-footer__text-lg Контактный телефон для справок по вопросам проведения рекламной игры: 
							a(href="tel:+375293224252") +375 (29) 322 42 52
						.main-footer__text-lg Время работы горячей линии
							br
							b с 9.00 до 21.00 понедельник-пятница
							br
							b с 10.00 до 16.00 суббота и воскресенье
						.main-footer__text-sm Рекламная игра «Лето призов в Виталюр».
							br
							| Срок проведенияс учетом выдачи призов и публикации результатов): с 02.06.2021 по 31.08.2021
							br
							| Свидетельство о регистрации №3995 от 19.05.2021 года, выданное Министерством антимонопольного регулирования и торговли Республики Беларусь. ООО «ЭфСиБи Бел», УНП 193185741.
							br
							| Подробности по телефону +375 (29) 322 42 52 и на сайте vitalur.by