.table-wrap
	table
		tr
			th(colspan="3") 14.09.2020
		tr
			td Фамили-2
			td Имя-2
			td Отчество-2
		tr
			td Фамили-2
			td Имя-2
			td Отчество-2
		tr
			td Фамили-2
			td Имя-2
			td Отчество-2
		tr
			td Фамили-2
			td Имя-2
			td Отчество-2