.table-wrap
	table
		tr
			th(colspan="3") 14.09.2020
		tr
			td Фамили-3
			td Имя-3
			td Отчество-3
		tr
			td Фамили-3
			td Имя-3
			td Отчество-3
		tr
			td Фамили-3
			td Имя-3
			td Отчество-3
		tr
			td Фамили-3
			td Имя-3
			td Отчество-3