.table-wrap
	table
		tr
			th(colspan="3") 14.09.2020
		tr
			td Фамили-1
			td Имя-1
			td Отчество-1
		tr
			td Фамили-1
			td Имя-1
			td Отчество-1
		tr
			td Фамили-1
			td Имя-1
			td Отчество-1
		tr
			td Фамили-1
			td Имя-1
			td Отчество-1