.btn {
	padding: 13px 30px;
	font-weight: 500;
	line-height: 160%;
	transition: .4s;
	@include xxs-block(){
		padding: 5px 10px;
	}
    &-full {
		color: #fff;
		background-color: $red;
		border: 1px solid $red;
		&:hover{
			background-color: #fff;
			color: $red;
		}
    }
	&-black{
		color: $black;
	}
	&-border{
		color: #fff;
		background-color: transparent;
		border: 1px solid $red;
		&:hover{
			background-color: $red;
			color: #fff;
		}
	}
	&-black{
		color: $black;
		font-weight: 500;
	}
}

.link-arrow{
	display: flex;
	align-items: center;
	font-weight: 500;
	color: #222222;
	span{
		margin-right: 10px;
	}
	path#svg-hide{
		transition: .3s;
	}
	path#svg-show{
		opacity: 0;
		transition: .3s;
		transform: translateX(-5px);
	}
	&:hover{
		path#svg-hide{
			transform: translateX(5px);
			opacity: 0;
		}
		path#svg-show{
			transform: translateX(5px);
			opacity: 1;
		}
	}
}



.link-animation-circle{
	text-align: center;
	background-color: $black;
	padding: 21px 20px;
	color: #fff;
	font-weight: 500;
	@include font(25);
	line-height: 130%;
	width: 100%;
	position: relative;
	overflow: hidden;
	.icon{
		display: none;
		fill: #fff;
		z-index: 2;
		position: relative;
		margin: 0 auto;
		@include md-block(){
			display: block;
		}
		@include xxs-block(){
			display: none;
		}
	}
	@include md-block(){
		padding: 22px 20px;
		font-size: 0;
		text-align: center;
	}
	@include md-block(){
		padding: 20.5px 20px;
	}
	@include xxs-block(){
		@include font(18);
		padding: 10px;
	}
	&::before{
		content: '';
		width: 480px;
		height: 480px;
		position: absolute;
		top: 100%;
		background-color: $red;
		border-radius: 50%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		transition: .6s;
		@include md-block(){
			width: 200px;
			height: 200px;
		}
	}
	span{
		z-index: 2;
		position: relative;
	}
	&:hover {
		&:before{
			transform: translateX(-50%) translateY(-50%);
		}
	}
	
}