$grid-columns: 12;

@for $i from 1 through $grid-columns {
	.col-#{$i} {
		width: percentage($i / $grid-columns);
	}
}

// Стили
html {
	overflow-x: hidden;
}

body {
	font-family: $font;
	font-weight: normal;
	overflow: visible;
	overflow-x: hidden;
}

section {
	p {
		font-style: normal;
		font-weight: normal;
		font-size: toVw(18);
		line-height: 150%;
		text-indent: 0;
		b,
		strong {
			font-weight: bold;
		}
	}
	a {
		cursor: pointer;
		margin: auto;
		font-weight: 500;
		font-size: toVw(18);
	}
	img {
		max-width: 100%;
	}

	.container {
		position: relative;
		z-index: 2;
		@include wrapper();
	}
	.dots {
		background-color: transparent;
		border: toVw(3) dashed #ffffff;
		border-radius: toVw(11);
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
		transition: 0.3s linear;
		&:hover {
			transition: 0.3s linear;
			color: $blue;
			background-color: #fff;
		}
	}
	.title {
		color: #ffffff;
		font-weight: 900;
		font-size: toVw(48);
		text-align: center;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.8em;
		@include md-block() {
			font-size: toVw(36);
		}
		@include sm-block() {
			font-size: toVw(32);
			letter-spacing: 0.4em;
		}
		@include xxs-block() {
			font-size: toVw(24);
			letter-spacing: 54%;
		}
	}
	.fish1,
	.fish2,
	.fish3,
	.fish4,
	.fishes1,
	.fishes2,
	.fishes3,
	.fishes4 {
		position: absolute;
		fill: #153763;
		opacity: 0.4;
		@include xxs-block() {
			display: none;
		}
		animation: animationFrames infinite linear 10s;
		@keyframes animationFrames {
			0% {
				transform: translate(0, 0);
			}
			16% {
				transform: translate(10%, 5%);
			}
			32% {
				transform: translate(20%, 0);
			}
			48% {
				transform: translate(30%, 5%);
			}
			64% {
				transform: translate(20%, 0);
			}
			80% {
				transform: translate(10%, 5%);
			}
			100% {
				transform: translate(0, 0);
			}
		}
	}
	.fishes1,
	.fishes2,
	.fishes3,
	.fishes4 {
		animation: animationFrames infinite linear 18s;
	}
}
.table-wrap {
	background-color: #00c3ffb6;
	padding: 35px;
	overflow: auto;
	color: white;

	@include md-block() {
		margin-bottom: 45px;
	}

	@include xs-block() {
		max-width: 100%;
		margin-bottom: 25px;
	}

	table {
		width: 100% !important;
		border-radius: 29px;
		border-collapse: collapse;

		@include xxs-block() {
			border-radius: 23px;
		}

		th,
		td {
			border: 4px solid #fff;
			padding: 25px;
			font-style: normal;
			font-size: 24px;
			line-height: 100%;
			text-align: center;
			box-shadow: 0px 0px 15px #ffffff;
		}

		th {
			font-weight: 900;
		}

		td {
		}
	}
}
.mfp-close-btn-in .mfp-close {
	color: white;
}
.mfp-container .mfp-content {
	max-width: 85%;
}
// img.mfp-img {
// 	&:hover {
// 		transform: scale(1.5);
// 	}
// }

.mfp-figure:after {
	background: transparent;
	box-shadow: none;
}
