.link-bordered {
	padding: 25px;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 100%;
	text-align: center;
	color: #FFFFFF;
	border: 4px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 29px;
	text-decoration: none;
	text-transform: uppercase;
	transition: $transition !important;

	@include md-block() {
		padding: 15px;
		font-size: 20px;
	}

	@include xs-block() {
		font-size: 18px;
		border-radius: 20px;
	}

	@include xxs-block() {
		width: 100%;
	}

	span {
		display: block;
		font-size: 18px;

		@include md-block() {
			font-size: 14px;
		}

		@include xs-block() {
			font-size: 12px;
		}
	}

	&--white {
		border-color: white;

		&:hover {
			background: white;
			color: $blue;
		}
	}

	&--red {
		border-color: #A20C15;
		color: $red;

		&:hover {
			background: $red;
			color: #ffffff;
		}

		&-filled {
			background-color: #A20C15;
			color: #ffffff;
			background-repeat: no-repeat;
			background-size: contain;

			&:hover {
				background: white;
				color: $red;
			}
		}

	}
}

.radius {
	position: relative;
	padding: 45px 0;

	// &::before,
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	z-index: 1;
	// 	height: 100px;
	// }

	// &::before {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	padding-top: 10%;
	// 	width: 200%;
	// 	box-shadow: 0 0 0 20px #ccc;
	// background: #ccc;
	// 	border-radius: 100%;   
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// z-index: -1;   

	// 	@include xxs-block() {
	// 		border-bottom: 1.5rem solid #ffffff;
	// 	}
	// }

	&::after {
		top: calc(100% - 1px);
		border-top: 4.5625rem solid #ffffff;
		border-right: 100vw solid transparent;

		@include xxs-block() {
			border-top: 1.5rem solid #ffffff;
		}
	}
}

.mfp-figure:after,
.mfp-iframe-scaler iframe {
	display: none;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: pointer;
}

img.mfp-img {
	@include xs-block() {
		max-width: 85%;
	}
}

.mfp-arrow-right {
	@include xs-block() {
		right: -15px;
	}
}

.mfp-arrow-left {
	@include xs-block() {
		left: -15px;
	}
}

.mfp-counter {
	width: 100%;
	text-align: center;
}

.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
	max-width: 85%;
	margin: 0 auto;
}

.mfp-fade {
	&.mfp-bg {
		opacity: 0;
		transition: all 0.5s ease-out;

		&.mfp-ready {
			opacity: 0.8;
		}

		&.mfp-removing {
			opacity: 0;
		}
	}

	&.mfp-wrap {

		.mfp-content {
			opacity: 0;
			transition: all 0.5s ease-out;
		}

		&.mfp-ready {
			.mfp-content {
				opacity: 1;
			}
		}

		&.mfp-removing {
			.mfp-content {
				opacity: 0;
			}
		}

	}

}

@keyframes heart-animate {
	from {
		transform: scale(1)
	}

	25% {
		transform: scale(1.5)
	}

	50% {
		transform: scale(1.25)
	}

	75% {
		transform: scale(1.5);
	}

	to {
		transform: scale(1);
	}
}