// Roboto
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: block;
	src: url('./../fonts/roboto/light.woff2') format('woff2'),
	url('./../fonts/roboto/light.woff') format('woff'),
	url('./../fonts/roboto/light.ttf') format('truetype'),
	url('./../fonts/roboto/light.eot'),
	url('./../fonts/roboto/light.eot#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	font-display: block;
	src: url('./../fonts/roboto/regular.woff2') format('woff2'),
	url('./../fonts/roboto/regular.woff') format('woff'),
	url('./../fonts/roboto/regular.ttf') format('truetype'),
	url('./../fonts/roboto/regular.eot'),
	url('./../fonts/roboto/regular.eot#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: block;
	src: url('./../fonts/roboto/medium.woff2') format('woff2'),
	url('./../fonts/roboto/medium.woff') format('woff'),
	url('./../fonts/roboto/medium.ttf') format('truetype'),
	url('./../fonts/roboto/medium.eot'),
	url('./../fonts/roboto/medium.eot#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url('./../fonts/roboto/black.woff2') format('woff2'),
	url('./../fonts/roboto/black.woff') format('woff'),
	url('./../fonts/roboto/black.ttf') format('truetype'),
	url('./../fonts/roboto/black.eot'),
	url('./../fonts/roboto/black.eot#iefix') format('embedded-opentype');
}


@font-face {
	font-family: "PF-Din";
	font-style: normal;
	font-weight: bold;
	font-display: block;

	src: 	url("../fonts/PF-Din/bold/PFDinTextCondPro-Bold.woff2") format("woff2"),
	url("../fonts/PF-Din/bold/PFDinTextCondPro-Bold.woff") format("woff"),
	url("../fonts/PF-Din/bold/PFDinTextCondPro-Bold.ttf") format("truetype"),
	url("../fonts/PF-Din/bold/PFDinTextCondPro-Bold.eot"),
}
@font-face {
	font-family: "PF-Din";
	font-style: normal;
	font-weight: normal;
	font-display: block;

	src: 	url("../fonts/PF-Din/regular/PFDinTextCondPro-Regular.woff2") format("woff2"),
	url("../fonts/PF-Din/regular/PFDinTextCondPro-Regular.woff") format("woff"),
	url("../fonts/PF-Din/regular/PFDinTextCondPro-Regular.ttf") format("truetype"),
	url("../fonts/PF-Din/regular/PFDinTextCondPro-Regular.eot"),
}
