/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
button, hr, input {
	overflow: visible
}

a, audio, canvas, progress, video {
	display: inline-block
}

progress, sub, sup {
	vertical-align: baseline
}

[type=checkbox], [type=radio], legend {
	box-sizing: border-box;
	padding: 0
}

*, body {
	margin: 0
}

*, legend {
	padding: 0
}

*, :active, :focus, :hover, :visited {
	outline: 0
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
	display: block
}

h1 {
	font-size: 2em
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b, strong {
	font-weight: bolder
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

button, input, optgroup, select, textarea {
	font-family:inherit;
	font-size: inherit;
	line-height: 1.15;
	margin: 0
}

button, select {
	text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
	outline: ButtonText dotted 1px
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	white-space: normal
}

textarea {
	overflow: auto
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

[hidden], template {
	display: none
}

.clearfix:after, .clearfix:before {
	content: " ";
	display: table
}

.flex-center, .flex-start {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box
}

.clearfix:after {
	clear: both
}

.flex-center {
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	-moz-box-pack: center;
	justify-content: center
}

.flex-start {
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	-moz-box-pack: start;
	justify-content: flex-start
}

.flex-around, .flex-end {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box
}

.flex-end {
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	-moz-box-pack: end;
	justify-content: flex-end
}

.flex-around {
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around
}

.flex-between {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	-moz-box-pack: justify;
	justify-content: space-between
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.flex-vertical_center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-moz-box-align: center;
	align-items: center
}

ul > li {
	list-style: none
}

ul {
	padding-left: 0
}

*, *:before, *:after {
	box-sizing: border-box;
}

input, select, button {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

* {
	box-sizing: border-box;
}
