@import 'smart-grid';
@import './utils/fonts';
@import 'utils/reset';
@import './utils/variables';
@import './utils/mixins';
@import './utils/common';
@import './utils/dump';

// Страницы
@import './pages/index';
main {
	overflow: hidden;
	background-color: #00AADF;
	color: #ffffff;
}